{% extends 'authapp/base.html' %}

{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
<div class="login-container">
	<!-- Adding messages here -->
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li class="message {{ message.tags }}">
				<div class="message-content">
					<span class="message-icon">
						{% if message.tags == 'success' %}
							✔️
						{% elif message.tags == 'error' %}
							❌
						{% elif message.tags == 'warning' %}
							⚠️
						{% elif message.tags == 'info' %}
							ℹ️
						{% endif %}
					</span>
					<span class="message-text">{{ message }}</span>
				</div>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
	<!-- End: Adding messages here -->

	<h2 style="color: black; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.2);">LOGIN</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="login-btn login-btn-text">Login</button>
		
		<!-- User Registration -->
		<a href="{% url 'signup' %}">Sign Up</a> <!-- Added Signup Link -->
	</form>
</div>


{% endblock %}